:root {
  --workbox-height: 400px;
  --workbox-width: 250px;
  --workbox-pic-height: 140px;
  --workbox-des-height: 175px;
}

#portfolio {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  margin: 50px 100px;
}

.workbox {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(212,212,212);
  background: linear-gradient(180deg, rgba(212,212,212,1) 0%, rgba(185,185,185,1) 57%, rgba(111,111,111,1) 100%);
  width: var(--workbox-width);
  height: var(--workbox-height);
  margin: 0 10px;
}

.workbox + .workbox + .workbox + .workbox + .workbox {
  margin: 30px 10px;
}

.workbox:hover {
  box-shadow: 0px 0px 23px 6px rgba(255,255,255,0.92);
}

.workbox-pic {
  width: 100%;
  height: var(--workbox-pic-height);
  margin: 10px;
  text-align: center;
  border-bottom: 1px black solid;
}

.workbox-pic img {
  width: 120px;
}

.workbox-description {
  margin: 0;
  font-family: Helvetica Arial;
  padding: 10px;
  padding-top: 0px;
  border-bottom: 1px solid #5B5B5B;
  width: calc(var(--workbox-width) - 20px);
  height: var(--workbox-des-height);
}

.workbox-description-title {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  text-align: center;
  font-weight: bold;
}

.workbox-button div {
  margin: 9px;
  color: rgb(255, 255, 255);
  font-size: 17px;
  line-height: 17px;
  padding: 6px;
  border-radius: 10px;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: 500;
  text-decoration: none;
  background-image: radial-gradient(at center center, rgb(103, 179, 255) 0%, rgb(14, 76, 117) 100%); box-shadow: rgba(0, 0, 0, 0.86) 0px 0px 0px 0px; border: 2px solid rgb(28, 110, 164); display: inline-block;
}
.workbox-button div:hover {
  background: #67B3FF;
  cursor: pointer;
}
.workbox-button div:active {
  background: #0E4C75;
}
