#contact-table {
  display: grid;
  grid-row: 1;
  grid-column: 2;
  padding: 40px;
  grid-template-columns: 780px;
  grid-template-rows: 30px;
  justify-content: space-between;
  align-items: center;
  width: 780px;
  background: rgb(226,226,226);
  background: radial-gradient(circle, rgba(226,226,226,1) 0%, rgba(221,221,221,1) 57%, rgba(181,181,181,1) 100%);
  box-shadow: 0 0 20px 10px rgba(181,181,181,1);
  min-height: 500px;
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50px;
}

#contact-title {
  text-align: center;
  font-size: 38px;
}

#contact-title::before {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  position: relative;
  bottom: -7px;
  right: 20px;
  background-image: url('../../../asset/img/avatar.png');
  background-size: contain;
}

/* #contact-title::after {
  content: '';
  display: inline-block;
  width: 45px;
  height: 45px;
  position: relative;
  bottom: -7px;
  right: -20px;
  background-image: url('../../../asset/img/avatar.png');
  background-size: contain;
} */


#contact-content {
  display: flex;
  flex-direction: column;
  height: 100%;;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.contact-item {
  display: grid;
  margin-top: 30px;
  height: 30px;
  line-height: 30px;
  grid-row: 2;
  grid-column: 1;
  grid-template-columns: 20px 160px 230px;
}

.contact-item::before {
  content: '';
  display: inline-block;
  background-color: #ABABAB;
  width: 5px;
  height: 20px;
  position: relative;
  bottom: -5px;
  border-radius: 4px;
}

.contact-item:hover::before {
  background-color: #959595;
  box-shadow: 0 0 5px 2px #FFFFFF;
}

.contact-name::after {
  content: ' :';
  text-align: right;
}

.contact-item a {
  color: #606060;
  text-decoration: none;
}

.contact-method {
  border-right: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-radius: 0 0 5px 0;
}

.contact-method:hover {
  box-shadow: 1px 1px 2px 1px #EEEEEE;
}
