#page-author {
  margin-top: 50px;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
}

#author-title {
  font-size: 110px;
  width: 1000px;
  font-weight: bolder;
  color: #464600;
  text-align: center;
  transition: 1s;
}

#author-title:hover {
  filter: drop-shadow(0 0 20px white);
}

#author-subtitle {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
  color: #505050;
  transition: opacity 1s;
  animation-name: subtitle;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-play-state: paused;
  opacity: 0;
}

#author-subtitle:hover {
  animation-play-state: running;
}

@keyframes subtitle {
  from {
    transform: translateY(0);
  } to {
    transform: translateY(-1000px);
    opacity: 0;
  }
}

#author-aboutme a {
  text-decoration: none;
}

#aboutme-button {
  margin: 70px;
  color: #FFFFFF;
  text-decoration: none;
  text-align: center;
  width: 90px;
  height: 40px;
  line-height: 40px;
  border: 3px solid #3393FF;
  border-radius: 10px;
  background: rgb(121,139,255);
  background: radial-gradient(circle, rgba(121,139,255,1) 0%, rgba(80,86,207,1) 57%, rgba(43,75,223,1) 100%);
}

#aboutme-button:hover {
  background: rgba(121,139,255,1);
  background: radial-gradient(circle, rgba(43,75,223,1) 0%, rgba(80,86,207,1) 57%, rgba(121,139,255,1) 100%);
  box-shadow: 0 0 10px 2px #FFFFFF
}

#aboutme-button:active {
  background: #4C7FBA;
}

#author-line {
    border: 0;
    margin-top: 40px;
    color: #15009F;
    height: .5em;
    white-space: nowrap;
    letter-spacing: 40vw;
    padding-top: .5em;
}
#author-line::before {
    content: '\2000\2000';
    text-decoration: overline;
    text-decoration: overline wavy;
}
